*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ac91c0;
  font-family: 'McKinsey Theinhardt', 'Helvetica Neue', Calibri, Corbel, Helvetica, Roboto, Droid, sans-serif;
}

header {
  background: pink;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
  
.nav-toggle-label span::before {
  bottom: 7px;
 }

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: pink;
  width: 100%;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: grey;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: ##91a5c0;
}

.projects-grid {

   display: flex;
}

.project-section {
  height: 50px;
  text-align: center;
  padding: 10em 2em;
  background-color: #8760a4;
}

.project-section ul {
  list-style: none;
}

.project-section a {
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
button {
  width: 200px;
  height: 100px;
  background: pink;
  position: relative;
  border: pink;
}
button:before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 50px solid pink;
}
button:after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid pink;
}
