* {
  box-sizing: border-box;
}
  
body {
  background-color: forestgreen;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Anaheim', sans-serif;
}
  
header {
  /* position: relative; */
  /* text-align: right; */
  width: 100%;
  display: flex;
  /* background-color: black; */
  justify-content: flex-end;
  /* margin: 1rem; */
  background-color: black;
}

.nav-container {
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-grow: 1; */
  /* margin: 0; */
  /* width: 100%; */
  /* height: auto; */
}

nav ul a {
  font-size: 20px;
  text-decoration: none;
  background-color: black;
  margin: 0;
  padding: 1rem 4rem 1rem 4rem;
  color: white;
}

a:hover {
  background-color: forestgreen;
}

.logo {
  font-size: 45px;
  flex-grow: 2;
  margin: 0 0 0 -20rem;
  padding: 1rem 6rem 1rem 20rem;
  background-color: white;
  color: forestgreen;
  font-weight: bold;
  letter-spacing: 1rem;
}

/* .white-box { 
  background-color: white; 
  display: block;
  margin-bottom: 5rem;
*/
/* split container into cards with 33% width and wrap property = portfolio  */

.home {
  /* font-size: 35px; */
  display: block;
  background-image: url("plant.jpg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  
  width: 100%;
  height: auto;
  padding: 10rem 10rem 10rem 10rem;
  text-align: center; 
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

p {
  font-size: 35px;
}
.about {
  display: block;
  padding: 10rem 0 10rem 0;
  text-align: center;
  background-color: forestgreen;
  color: black;
}

.workflow {
  display: flex;
  padding: 10rem 0 10rem 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  background-color: black;
  color: forestgreen;
}

/* button { */
  /* font-size: 18px; */
  /* width: 175px;
  height: 150px;
  margin: 95px;
  background-color: black;
  color: forestgreen;
  border-radius: 45%;
  border: 2px solid forestgreen; */

.btn {
  
}

button {
  font-size: 20px;
  text-transform: uppercase; 
  font-weight: bold;
  width: 200px;
  height: 100px;
  background: forestgreen;
  position: relative;
  border: forestgreen;
}

button:before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 50px solid forestgreen;
}

button:after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid forestgreen;
}
  

button:hover {
  color: white;
}

.portfolio {
  font-size: 20px;
  display: block;
  padding: 5rem 0 5rem 0;
  text-align: center;
  background-color: forestgreen;
  color: black;
}

/* .projects { 
  display: block;
  padding: -10rem;
  background-color: black;
} */

.skills {
  font-size: 20px;
  display: block;
  padding: 10rem 0 10rem 0;
  text-align: center;
  background-color: forestgreen;
  color: black;
}

.contact {
  font-size: 20px;
  display: block;
  padding: 5rem 5rem;
  text-align: center;
  background-color: forestgreen;
  color: black;
}

form {

}

.message-form {
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 10rem 5rem 10rem;
  /* text-align: center; */
  background-color: white;
  color: black;
}


textarea {
  font-size: 25px;
  outline-style: none;
  /* border-bottom: 1px solid forestgreen; */
  color: black;
  /* display: flex; */
  /* align-items: flex-start; */
  /* padding: 5rem 10rem 5rem 10rem; */
  /* float: right; */
  /* padding: 1rem; */
  background-color: white;
  
}

