* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

// .nav-container {
//   display: flex;
// }

nav {
  background-color: gray;
  padding: 0.5em;
  
    a {
      color: white;
      text-decoration: none;
      margin: 0 0.25em;
    }
}

.content {
  width: 50rem;
  border: 1px solid black;
}

.welcome {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("/img/welcome.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  padding: 2rem;
  color: white;
}

.plot {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  width: 100%;
  height: auto;
  padding: 2rem;
}

.content-box1{
  display: flex;
  justify-content: center;
}

.content-box2 {
  display: flex;
}

.poster {
  padding: 1rem;
}

.img-poster {
  width: 200px;
  height: auto;
}

.characters {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("/img/rey-standing.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  // padding: 0;
}

.content-box3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 7rem 0 2rem; 
}

.img-round {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.img-round1 {
  width: 90px;
  height: 90;
  border-radius: 50%;
}

.img-round2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.img-round3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.ratings {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid black;
}

.imdb {
  background-color: grey;
  width: 10rem;
  height: 14rem;
  margin: 1rem 1rem 0 1rem;
  border: 1px solid black;
}

.metacritic {
  background-color: grey;
  width: 10rem;
  height: 15rem;
  margin: 1rem 1rem 0 1rem;
}

.tomatoes {
  background-color: grey;
  width: 10rem;
  height: 17rem;
  margin: 1rem 1rem 0 1rem;
}

.chart-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.gallery {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("/src/img/gallery.jpg");
  background-size: cover;
  background-position: center;
  // width: 100%;
  // height: 70%;
  // padding: 2rem;
}

