body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
article {
  width: 50rem;
  margin: 0 auto;
}

section {
  padding: 0.5rem 2rem;
}

h1, h2 {
  text-align: center;
  color: #23226c;
  font-weight: bold;
}


.intro, .conclusion {
  background-color: #d2d6ef;
}


span {
  background-color: #d2d6ef;
}

a {
  color: #6290c3;
}


